@page "/gentle"
@rendermode InteractiveServer
<div class='Movie'>
    <div class='Video'>
        <iframe src="https://1drv.ms/v/s!Al-fYhZtQj3MbR-QB9cb0ykHIJY?e=Mp9A1K"></iframe>
    </div>
    <br />
    <div class='MovieDetails'>
        <img src="Gen.jpg" />
        <div>
            <h2> Name: The Gentlemen</h2>
            <h2> Release Year: 2019</h2>
            <div class="but">
                <button id="h">HD</button>
                <button id="i" @onclick="I8">IMDB</button>
            </div>
        </div>

    </div>
    <br />
    <div class='Description'>
        <article>
            <h3>

                "The Gentlemen" is a stylish crime-comedy that follows the story of a British drug lord looking to sell his marijuana empire. When word spreads about his plans, a web of schemes, blackmail, and double-crosses ensue among various eccentric characters, including rival criminals, private investigators, and streetwise hustlers. Set against the backdrop of London's criminal underworld, the film combines witty dialogue, unexpected twists, and dark humor.

            </h3>
        </article>



    </div>
</div>

@code {
    [Inject] NavigationManager NavigationManager11 { get; set; }


    public void I8()
    {
        NavigationManager11.NavigateTo("https://www.imdb.com/title/tt8367814/?ref_=fn_al_tt_1", forceLoad: true);
    }

}

}
<style>
    * {
        background-color: black;
    }

    .Video > iframe {
        width: 100vw;
        height: 60vh;
    }

    .MovieDetails > h2 {
        margin-left: 20px;
    }

    .MovieDetails > img {
        width: 10vw;
        height: 20vh;
    }

    article {
        width: 60vw;
    }
</style>
